<table class="flights_select" style="border: 1px solid black;">
  <% if @info[:flights].empty? %>
      <p> No results found! </p>
  <% else %>
    <tr>
      <th>Select</th>
      <th>Departure</th>
      <th>Duration</th>
    </tr>
    <%= form_for :flight_select do |f| %>
      <% @info[:flights].each do |flight| %>
        <tr style="border: 1px solid black;">
          <td><%= f.radio_button(:flight, flight.id) %></td>
          <td><%= flight.start_datetime.strftime("%I:%M%p") %></td>
          <td><%= distance_of_time_in_words(flight.flight_duration) %></td>
        </tr>
      <% end %>
        <tr>
          <td><%= f.submit "Submit" %></td>
        </tr>
     <% end %>
  <% end %>
</table>